<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title> 
    <link rel="stylesheet" href="index.css">
  </head>
  <body class="w-full h-full bg-gradient-to-tl from-black to-violet">
    <div class="grid grid-cols-3 grid-rows-3 place-items-center h-screen">
      <div class="col-start-2 row-start-2">
        <h1 class="text-violet text-9xl font-serif">Gaute</h1> 
      </div>
      <div class="col-start-2 row-start-2 flex justify-end items-end h-full">
        <div class="flex justify-center">
          <a href="https://github.com/Gaute945">Github</a> 
          <a class="border-l border-gray-200 mr-4" href="#gauteg">Discord</a> 
          <a class="border-l border-gray-200 mr-4" href="mailto:mrboobai@proton.me">Mail</a> 
        </div>
      </div>
    </div>
    <form action='/repos' method='get'>
      <button type="submit">
        <h1>Goto Repos</h1>
      </button> 
    </form>
  </body>
</html>
