<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title> 
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <form action='/repos' method='get'>
      <button type="submit">Goto Repos</button>
    </form>
    <div>
        <p>Welcome to my portfolio. Here, I showcase my latest projects and experiences.</p>
        <h1 class="text-3xl font-bold underline">About Me</h1>
        <p>I am a passionate developer/designer who loves creating innovative solutions.</p>
        <h2>Skills</h2>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>UI/UX Design</li>
        </ul>
        <h2>Contact</h2>
        <p>You can reach me at: example@email.com</p>
    </div>
  </body>
</html>
