<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title> 
    <link rel="stylesheet" href="index.css">
  </head>
  <body class="w-full h-full bg-gradient-to-tl from-black to-violet">
    <div class="grid grid-cols-3 grid-rows-3 place-items-center h-screen">
      <div class="col-start-2 row-start-2">
        <h1 class="text-violet text-9xl font-serif">Gaute</h1> 
      </div>
      <div class="col-start-2 row-start-2 flex justify-end items-end h-full">
        <div class="flex justify-center">
          <img src="github-mark.svg" alt="GitHub logo" class="w-16 h-16 mx-4">
          <img src="discord-mark-black.svg" alt="Discord logo" class="w-16 h-16 mx-4">
          <img src="gmail.png" alt="Gmail logo" class="w-16 h-16 mx-4">
        </div>
      </div>
    </div>
    <form action='/repos' method='get'>
      <button type="submit" class="group relative h-12 w-48 overflow-hidden rounded-2xl bg-green-500 text-lg font-bold text-white">
        <h1>Goto Repos</h1>
        <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
      </button> 
    </form> 
    <div>
      <p>Welcome to my portfolio. Here, I showcase my latest projects and experiences.</p>
      <h1>About Me</h1>
      <p>I am a passionate developer/designer who loves creating innovative solutions.</p>
      <h2>Skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>UI/UX Design</li>
      </ul>
      <h2>Contact</h2>
      <p>You can reach me at: example@email.com</p>
    </div>
  </body>
</html>
