<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>	
    <link rel="stylesheet" href="index.ejs">
  </head>
  <body>
    <div class="portfolio-container">
      <% json.forEach((repo) => { %>
      <div class="project-card">
        <h2><%= repo.name %></h2>
        <p><%= repo.description %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
